.water-reminder{
  background:black;
  color: white;
  height:100%;
  left: 0px;
  padding:20px;
  position:fixed;
  text-align:center;
  top:0px; 
  width:100%;
  z-index:9999999999999999999999999999999999999999999999999999; /* to fix other large z-index */
}

.water-reminder h1{
  font-size: 3.4em;
}

.water-reminder a{
  cursor: pointer;
  font-size:2em;
  width:100%;
}
